/* Objects: Patrones de diseño */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}
